# ======================
# Node.js (frontend)
# ======================
node_modules/
dist/
.next/
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode/

# ======================
# Python / FastAPI (backend)
# ======================
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pyo
instance/
# .env
.venv/
# env/
venv/
# ENV/
.idea/

# ======================
# Common
# ======================
.DS_Store
*.swp
*.swo
*.bak
Thumbs.db
*.tgz
*.zip
*.tar.gz
*.egg-info/
*.egg

# ======================
# Git
# ======================

# Set default behavior to LF
* text=auto eol=lf

# Python files
*.py text eol=lf

# HTML and templates
*.html text eol=lf

# Environment files
*.env text eol=lf
*.env.local text eol=lf

# JSON and manifest files
*.json text eol=lf

# TypeScript and JavaScript
*.ts text eol=lf
*.js text eol=lf

# CSS files
*.css text eol=lf

# Markdown and config files
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Requirements
*.txt text eol=lf
# Ignore video folders
/frontend/public/dogs/
/frontend/public/cats/
